  *{
      margin: 0;
      padding: 0;
      font-family: 'Asap', sans-serif;
  }

  body{
      width: 100%;
      height: 100%;
  }
                         



                    /*MAIN*/



main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .mainInfo{
    background: rgb(198, 194, 255);
    text-align: center;
    padding: 50px 0px 50px 0;

}
main .mainInfo p{
    margin-bottom: 60px;
    color: white;
    font-size: 20px;
}

main .mainInfo h1{
    color: white;
    font-size: 44px;
}

main .aaaand{
    color: red;
}






.wrapper{
    width: 86%;
    margin: 0 auto;
}
.mainfield{
    background: white;
    text-align: left;
    padding: 50px 0px 50px 0;   
}
main .mainfield p{
    text-align: center;
    color: rgb(21, 22, 22);
    font-size: 20px;
    padding: 0px 0px 50px 0px;
}

main .mainfield h1{
    text-align: center;
    color: rgb(16, 17, 17);
    font-size: 44px;
    margin: 0px 0px 50px 0px;
}
.maininfo{
    display: flex;
    margin: 10px 0px;
}

.textRight{
    margin-left: 115px;    
    
} 
.textRight p{
    padding: 30px 0px 50px 0px;
    color: white;
}
.textRight ul{
    list-style-image: url(image/hihi.png);
    padding-left: 5px; 
    color: rgb(16, 17, 17);   
}
.textRight li{
    margin-top: 10px;
    color: rgb(16, 17, 17);
}
.formedia img{
    border-radius: 100px;
}
/*
                                        GALLEY
*/

.container{
    background: white;
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
    display: flex;    
    float: left;
    width: 100%;
     
}
.container  img{
    max-width: 100%;
    height: auto;
    
}
.mainWork{
    background: rgb(106, 213, 255);
    text-align: center;
    padding: 60px 0px 10px 0px; 
}

.mainWork h1{    
    font-size: 44px;
    margin-bottom: 10px;
    color:  white;
}

.mainWork p{
    margin-bottom: 20px;
    color: white;
}

.mainWork img:hover{
    opacity: 0.5;
}




/*
                                        RULES
*/


.rulestext{
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    background: white;
}

.rulestext h1{
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: rgb(17, 10, 109);
}

.ruleBlock{
   
    margin: auto;
}

.image-container {
    width: 350px;
    height: 350px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    -webkit-box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
}
 
.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}
 
.image-container .image-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(17, 10, 109, 0.692);
    font-family: Verdana;
    text-align: center;
}
 
.image-caption h2 {
    margin-top: 20px;
    color: #fffefe;
    font-weight: 300;
}

.image-caption p {
    color: #fff;
}
 

 
.image-container .caption-1 {
    left: -350px;
    transition: all 0.5s;
}
.image-container:hover .caption-1 {
    left: 0;
    transition: all 0.5s;
}
 
.image-container .caption-2 {
    top: -350px;
    transition: all 0.5s;
}
.image-container:hover .caption-2 {
    top: 0;
    transition: all 0.5s;
}
 

.image-container .caption-3 {
    right: -350px;
    transition: all 0.5s;
}
.image-container:hover .caption-3 {
    right: 0;
    transition: all 0.5s;
}




/*                  
                                                        FOOTER
*/


footer{
    width: 100%;
    height: auto;
    background: rgb(17, 10, 109);
    padding: 10px 0px 10px 0px;
}

.contacts{
    display: flex;
    justify-content: left;
    padding: 10px 0px 10px 0px;
}
.contacts img{
    margin-left: 185px;;
   /* margin: auto;*/
}

.contacts img:hover{
    opacity: 0.8;
}






/*
                                                        MEDIA
*/

@media screen and (max-width:1010px){

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .mainInfo{
    background: rgb(17, 10, 109);
    text-align: center;
    padding: 50px 0px 50px 0;

}
main .mainInfo p{
    margin-bottom: 60px;
    color: white;
    font-size: 20px;
}

main .mainInfo h1{
    color: white;
    font-size: 44px;
}

main .aaaand{
    color: red;
}

}



@media screen and (max-width:1010px){
    .rulestext{
        margin: 50px 0 50px 0;
    }
    .ruleBlock{
        flex-direction: column;
        margin: auto;
    }
}


@media screen and (max-width:1010px){
  
    .mainfield{
        background: white;
        text-align: left;
        padding: 50px 0px 50px 0;   
    }
    main .mainfield p{
        text-align: center;
        color: rgb(17, 10, 109);
        font-size: 20px;
        padding: 0px 0px 50px 0px;
    }
    .aaaand{
        color: rgb(17, 10, 109);
    }
    
    main .mainfield h1{
        text-align: center;
        color: rgb(17, 10, 109);
        font-size: 44px;
    }
    .maininfo{
       /**/
        display: flex;
        flex-direction: column;
       /* margin: 0px 0px;*/
    }
    .formedia{
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .textRight{
        margin-left: 115px;    
    } 
    .textRight p{
        /*padding: 30px 0px 50px 0px;*/
        color: white;
        margin: auto;
    }
    .textRight ul{
        margin-left: 30%;
        list-style-image: url(/home/ivan/labLCS/lab2/hihi.png);
        padding-left: 5px; 
        color: rgb(17, 10, 109);   
    }
    .textRight li{
        margin-top: 10px;
        color: rgb(17, 10, 109);
    }
}

@media screen and (max-width:1010px){

.container{
    background: white;
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;    
    float: left;
    width: 100%;
     
}
.container  img{
    max-width: 100%;
    height: auto;
    
}
.mainWork{
    background: rgb(130, 215, 255);
    text-align: center;
    padding: 60px 0px 10px 0px;
}

.mainWork h1{    
    font-size: 44px;
    margin-bottom: 10px;
    color:  white;
}

.mainWork p{
    margin-bottom: 20px;
    color: white;
}

.mainWork img:hover{
    opacity: 0.5;
}
}

@media screen and (max-width:1010px){

.rulestext{
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    background: white;
}

.rulestext h1{
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: rgb(17, 10, 109);
}

.ruleBlock{
   
    margin: auto;
}

.image-container {
   
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px;
    -webkit-box-shadow: 2px 2px 50px rgba(110, 238, 255, 0.6);
    -moz-box-shadow: 2px 2px 50px rgba(110, 238, 255, 0.6);
    box-shadow: 2px 2px 50px rgba(110, 238, 255, 0.6);
}
 

.image-container img {
    width: 100%;
    height: 100%;

}

.image-container .image-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(17, 10, 109, 0.692);
    text-align: center;
}
 

.image-caption h2 {
    margin-top: 20px;
    color: #fffefe;
    font-weight: 300;
}

.image-caption p {
    color: #fff;
}
 
 
.image-container .caption-1 {
    left: -350px;
    transition: all 0.5s;
}
.image-container:hover .caption-1 {
    left: 0;
    transition: all 0.5s;
}
 

.image-container .caption-2 {
    top: -350px;
    transition: all 0.5s;
}
.image-container:hover .caption-2 {
    top: 0;
    transition: all 0.5s;
}
 

.image-container .caption-4 {
    right: -350px;
    transition: all 0.5s;
}
.image-container:hover .caption-4 {
    right: 0;
    transition: all 0.5s;
}
}

@media screen and (max-width:1010px){

footer{
    width: 100%;
    height: auto;
    background: rgb(17, 10, 109);
    padding: 10px 0px 10px 0px;
}

.contacts{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 35%;
}
.contacts img{
    /*margin-left: 185px;*/
    margin: 50%;
   
}

.contacts img:hover{
    opacity: 0.8;
}
}


/*
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
*/


header{
    width: 100%;
    background-color: white;
    display: flex;
}
.logo{
    
    text-transform: uppercase;
    color: rgb(17, 10, 109)e;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;    
    margin-left: 12%;    
}
.logo a{
    text-decoration: none; 
}



nav{
    margin-top: 18px;
    margin-bottom: 16px;
    margin-left: 39%;
}

.navBar a{
    text-decoration: none;
    color: rgb(17, 10, 109);
    text-align: center;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: bold;
}

.navBar a:hover{
    background-color: rgb(17, 10, 109);
    color: white;
}

.navBar .icon{
    display: none;
}


@media screen and (max-width:1010px){
        
    header{        
        flex-direction: column;
        float:right;
    }

    nav{
        margin: auto;
        margin-top: 16px;        
    }
           
    .navBar a{
        display: none;
        font-size: 30px;        
    }

    .navBar a.icon{ 

        align-items: center;        
        display: block;
        color: rgb(148, 40, 40);
        font-size: 40px;
    } 

    .navBar.responsive a{        
        display: block;       
    }    

    

}

@media screen and (max-width:1010px){
    
    
    .logo{
        width: auto;
        height: auto;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: 800;
        font-size: 35px;
        cursor: pointer;
        margin: auto;
        margin-top: 56px;        
        letter-spacing: 15px;
    }

    .navBar a.icon{
        font-size: 65px;
    }
    
    .navBar a{
        font-size: 40px;
    }
    
}

















